@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Oswald:wght@700&display=swap");
html {
  scroll-padding-top: 76px;
}

@media (max-width: 1399.98px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-outer {
  padding: 0 1.5rem;
}

.section-inner {
  max-width: 75rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0 auto;
}

@media (max-width: 991.98px) {
  .section-inner {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 130%;
  color: #434242;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 3.375rem;
  color: #ffffff;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.875rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 200%;
  text-transform: uppercase;
}

p {
  margin: 0;
  padding: 0;
}

.text {
  color: #434242;
}

.logo-image {
  width: 100%;
  height: 100%;
  border: none;
}

.logo-image:active, .logo-image:hover {
  border: none;
}

.link {
  color: #961914;
}

.button {
  font-family: "Montserrat", sans-serif;
  width: 14rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button__burger {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: none;
  margin-left: auto;
}

.button__burger svg {
  fill: white;
}

@media (max-width: 991.98px) {
  .button__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.button__primary {
  color: #ffffff;
  background-color: #961914;
}

.button__primary:hover {
  background-color: #75110d;
}

.button__secondary {
  color: #961914;
  border: 1px solid #961914;
  background-color: #ffffff;
}

.button__secondary:hover {
  border: none;
  background-color: #ead1d0;
}

.button__social {
  width: 14rem;
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
}

.button__social:hover {
  background: rgba(255, 255, 255, 0.4);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}

.list_item {
  color: #434242;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0 1fr;
      grid-template-columns: 0 1fr;
  grid-gap: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.list_item:before {
  content: "●";
  color: #961914;
}

.features {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 991.98px) {
  .features {
    row-gap: 2.5rem;
  }
}

.features_item {
  position: relative;
  width: 23%;
  padding-top: 3.75rem;
}

@media (max-width: 991.98px) {
  .features_item {
    width: 48%;
    padding-top: 3.25rem;
  }
}

@media (max-width: 575.98px) {
  .features_item {
    width: auto;
  }
}

.features_item:before {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.features_icon {
  margin-bottom: 1rem;
}

.features_title {
  margin-bottom: 0.5rem;
}

.accordion {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}

.accordion_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.accordion_item__active .accordion_header {
  padding-bottom: 0.75rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.accordion_item__active .accordion_content {
  max-height: 100%;
  visibility: visible;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.accordion_item__active .accordion_button {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.accordion_item:first-child .accordion_header {
  padding-top: 0;
}

.accordion_item:not(:last-child) {
  border-bottom: 1px solid #eff0f0;
}

.accordion_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.accordion_title {
  max-width: 90%;
}

.accordion_button {
  width: 2rem;
  height: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.accordion_content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.accordion_text {
  padding-bottom: 2rem;
  padding-right: 5rem;
}

.form-field {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem 1rem;
  height: 100%;
}

.form-field__dark {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.form-field__dark:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #ec7973;
          box-shadow: 0 0 0 2px #ec7973;
}

.form-field__dark::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form-field__dark:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form-field__dark::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form-field__dark::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form-field__light {
  color: #000000;
  background: #f4f5f5;
  border: none;
}

.form-field__light:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #9f9e9d;
          box-shadow: 0 0 0 2px #9f9e9d;
}

.form-field__light::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form-field__light:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form-field__light::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form-field__light::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form-label {
  font-size: 0.875rem;
  line-height: 140%;
}

.form-label__checkbox {
  font-size: 0.75rem;
}

.form-textarea {
  resize: none;
}

.form-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.form-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.form-checkbox__dark + label::before {
  background-color: #fff4f3;
}

.form-checkbox__dark:hover + label::before {
  background-color: #ead1d0;
}

.form-checkbox__light + label::before {
  -webkit-box-shadow: inset 0px 0px 0px 1px #9f9e9d;
          box-shadow: inset 0px 0px 0px 1px #9f9e9d;
  background-color: #ffffff;
}

.form-checkbox__light:hover + label::before {
  background-color: #f4f5f5;
}

.form-checkbox__light:checked + label::before {
  border: none;
  -webkit-box-shadow: inset 0px 0px 0px 1px #961914;
          box-shadow: inset 0px 0px 0px 1px #961914;
}

.form-checkbox:checked + label::before {
  background-image: url("../img/check.svg");
}

.catalog {
  list-style: none;
  padding-left: 0;
}

@media (min-width: 576px) {
  .catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.catalog_item {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .catalog_item {
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 575.98px) {
  .catalog_item {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    margin-bottom: 3rem;
  }
}

.catalog_item-image {
  width: 100%;
  margin-bottom: 2.75rem;
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .catalog_item-image {
    margin-bottom: 1.25rem;
  }
}

.catalog_item-title {
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.catalog_item-category {
  color: #9f9e9d;
  font-size: 0.875rem;
  line-height: 130%;
  margin-bottom: 1rem;
}

.catalog_item-category__turkey:after {
  content: "";
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  background: url("../img/sticker-turkey.svg") no-repeat center;
  background-size: cover;
}

.catalog_item-category__mutton:after {
  content: "";
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  background: url("../img/sticker-mutton.svg") no-repeat center;
  background-size: cover;
}

.catalog_item-text {
  color: #434242;
  margin-bottom: 0.75rem;
}

.catalog_item-parameters {
  color: #9f9e9d;
  font-size: 0.875rem;
  line-height: 130%;
  margin-bottom: 1.5rem;
}

.catalog_item-button {
  width: 10rem;
}

.popup {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 100;
}

.popup__catalog {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.popup__catalog .popup_content {
  width: 50rem;
  height: 31.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 5rem 1fr;
      grid-template-rows: 5rem 1fr;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.popup__count {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.popup__count .popup_content {
  width: 35rem;
}

.popup__open {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  visibility: visible;
}

.popup__open .popup_content {
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.popup_content {
  position: relative;
  padding: 3.75rem;
  background: #ffffff;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.popup_image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: auto;
  margin-bottom: 0;
}

.popup_image-area {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.popup_close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.popup_count-button {
  width: 100%;
}

.popup_title {
  color: #961914;
  margin-bottom: 1.5rem;
}

.popup_text {
  font-size: 1rem;
  color: #434242;
}

.popup_text:not(:last-child) {
  margin-bottom: 1rem;
}

.popup_price {
  font-weight: 500;
  font-size: 1.25rem;
}

.popup-form {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-form-order {
  grid-row-gap: 0.75rem;
  -ms-grid-columns: 40% 25% 35%;
      grid-template-columns: 40% 25% 35%;
  -ms-grid-rows: (3rem)[6];
      grid-template-rows: repeat(6, 3rem);
}

.popup-form-count {
  grid-row-gap: 0.75rem;
  -ms-grid-rows: 4rem (3rem)[4] 6rem 4rem 3rem;
      grid-template-rows: 4rem repeat(4, 3rem) 6rem 4rem 3rem;
}

.popup-form-count_radio-buttons {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-form-count_radio-button + .popup-form-count_radio-button {
  margin-top: 0.5rem;
}

.popup_form-field {
  width: 100%;
}

.popup_form-field__full {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.popup_form-field__center-right {
  width: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.popup_form-field__right {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.popup_form-label {
  color: #9f9e9d;
}

.popup_description {
  display: none;
}

.popup_description__thanks {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup .catalog_item-title {
  font-size: 1.25rem;
  cursor: auto;
}

.popup .catalog_item-category {
  font-size: 1rem;
}

.popup .catalog_item-category__turkey:after, .popup .catalog_item-category__mutton:after {
  width: 5rem;
  height: 5rem;
  top: 5rem;
  left: 5rem;
}

.popup .catalog_item-parameters {
  font-size: 0.875rem;
}

.section-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 1rem;
  background-color: transparent;
  z-index: 100;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.section-header .section-inner {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-header_logo {
  width: 5rem;
  height: 5rem;
}

@media (max-width: 991.98px) {
  .section-header_logo {
    width: 3.75rem;
    height: 3.75rem;
  }
}

.section-header__fixed {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: fixed;
  background-color: #ffffff;
  margin: 0;
  -webkit-box-shadow: 0 2px 10px rgba(122, 122, 122, 0.3);
          box-shadow: 0 2px 10px rgba(122, 122, 122, 0.3);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.section-header__fixed .logo {
  width: 3.75rem;
  height: 3.75rem;
}

@media (max-width: 991.98px) {
  .section-header__fixed .logo {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.section-header__fixed .nav-wrapper_link {
  color: black;
}

.section-header__fixed .button__burger svg {
  fill: black;
}

@media (max-width: 991.98px) {
  .nav {
    display: none;
  }
}

.nav-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-wrapper_item {
  white-space: nowrap;
}

.nav-wrapper_item + .nav-wrapper_item {
  margin-left: 3.25rem;
}

.nav-wrapper_link {
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

.nav-wrapper_link:hover, .nav-wrapper_link--active {
  border-bottom: 0.125rem solid #961914;
}

.section-hero {
  color: #ffffff;
  background-image: url("../img/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.section-hero .section-inner {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7rem 0 0;
}

@media (max-width: 575.98px) {
  .section-hero .section-inner {
    padding: 0;
  }
}

.section-hero_title {
  position: relative;
  width: 45%;
  z-index: 0;
  margin-bottom: 0.75rem;
}

@media (max-width: 991.98px) {
  .section-hero_title {
    width: 65%;
  }
}

.section-hero_outline {
  position: relative;
}

.section-hero_outline:after {
  width: 15.75rem;
  height: 5.5rem;
  top: 0.25rem;
  left: -1rem;
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url("../img/bg-stroke1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -5;
}

.section-hero_text {
  width: 35%;
  font-size: 1.25rem;
  line-height: 140%;
  margin-bottom: 1.5rem;
}

@media (max-width: 991.98px) {
  .section-hero_text {
    width: 60%;
  }
}

.section-hero_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.section-hero:after {
  width: 20vh;
  height: 40vh;
  content: "";
  background: url("../img/zooov.svg");
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
  bottom: 2.5rem;
}

.section-barf_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (max-width: 991.98px) {
  .section-barf_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 3.75rem;
    padding-bottom: 0;
  }
}

.section-barf_description {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 991.98px) {
  .section-barf_description {
    margin-bottom: 1.5rem;
  }
}

.section-barf_image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

@media (max-width: 991.98px) {
  .section-barf_image {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    height: 20rem;
  }
}

.section-barf_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-barf_title {
  margin-bottom: 2rem;
}

.section-barf_text {
  margin-bottom: 1.5rem;
}

.section-barf_list-title {
  margin-bottom: 1rem;
}

.section-barf_compositions {
  background-color: #ead1d0;
  padding: 2rem 5rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5%;
  background-image: url("../img/bg-stroke-light.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.section-barf_compositions__mobile {
  display: none;
}

@media (max-width: 1199.98px) {
  .section-barf_compositions {
    padding: 1.5rem 2.5rem;
  }
}

@media (max-width: 991.98px) {
  .section-barf_compositions {
    gap: 15%;
  }
}

.composition {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 575.98px) {
  .composition {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.composition_title {
  margin-bottom: 1rem;
}

.composition_list {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 0;
          column-gap: 0;
  padding: 0;
  margin: 0;
}

@media (max-width: 991.98px) {
  .composition_list {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.composition_item {
  list-style-type: none;
  white-space: nowrap;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 250%;
  color: #434242;
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 2.25rem;
}

@media (max-width: 1199.98px) {
  .composition_item {
    width: 3.75rem;
  }
}

.composition_item__meat {
  background-image: url("../img/meat.svg");
}

.composition_item__bones {
  background-image: url("../img/bones.svg");
}

.composition_item__vegetables {
  background-image: url("../img/vegetables.svg");
}

.composition_item__liver {
  background-image: url("../img/liver.svg");
}

.composition_item__offal {
  background-image: url("../img/offal.svg");
}

.composition_item__nuts {
  background-image: url("../img/nuts.svg");
}

.composition_item__fruits {
  background-image: url("../img/fruits.svg");
}

@media (max-width: 575.98px) {
  .composition_swiper-wrapper {
    padding: 1.5rem 2.5rem 2.5rem;
  }
}

.swiper-slide {
  opacity: 0.4;
  -webkit-transition: opacity 0.2s !important;
  transition: opacity 0.2s !important;
}

.swiper-slide-active {
  opacity: 1;
  -webkit-transition: opacity 0.2s !important;
  transition: opacity 0.2s !important;
}

.swiper-pagination {
  margin: 0 !important;
}

.swiper-pagination-bullet {
  background: #961914 !important;
}

@media (max-width: 575.98px) {
  .section-rations {
    overflow: hidden;
    padding: 0;
  }
  .section-rations .section-inner div:not(.section-rations_catalog) {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
  .section-rations .section-rations_catalog {
    padding: 0 1.25rem;
  }
  .section-rations .swiper-pagination {
    margin-left: 0;
  }
}

.section-rations_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
  gap: 6.25rem;
}

@media (max-width: 991.98px) {
  .section-rations_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 2.5rem;
    gap: 2rem;
  }
}

@media (max-width: 575.98px) {
  .section-rations_header {
    padding: 0;
  }
}

.section-rations_title {
  white-space: nowrap;
  z-index: 0;
}

.section-rations_outline {
  position: relative;
}

.section-rations_outline:after {
  width: 11.75rem;
  height: 5rem;
  top: -0.25rem;
  left: -1.75rem;
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url("../img/bg-stroke2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -5;
}

.section-rations_catalog {
  margin-bottom: 5rem;
}

.section-rations_catalog__mobile {
  display: none;
}

@media (max-width: 991.98px) {
  .section-rations_catalog {
    margin-bottom: 2.5rem;
  }
}

.section-rations_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ead1d0;
  background-image: url("../img/bg-stroke-light.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 3.25rem 5rem;
}

@media (max-width: 991.98px) {
  .section-rations_count {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
    padding: 1.5rem 2.5rem;
  }
}

.section-rations_count-text {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.02em;
}

@media (max-width: 991.98px) {
  .section-rations_count-text {
    font-size: 1.25rem;
    text-align: center;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.section-zooov {
  background-image: url("../img/bg-stroke-dark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
}

@media (max-width: 991.98px) {
  .section-zooov {
    background-size: auto;
  }
}

.section-zooov .section-inner {
  padding-bottom: 10rem;
}

@media (max-width: 991.98px) {
  .section-zooov .section-inner {
    padding-bottom: 5rem;
  }
}

.section-zooov_title {
  margin-bottom: 3.75rem;
}

.section-zooov_outline {
  position: relative;
}

.section-zooov_outline:after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url("../img/bg-stroke3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -5;
  width: 1.75rem;
  height: 2rem;
  top: 70%;
  left: 95%;
  z-index: 1;
}

.section-zooov .features_item:nth-child(1):before {
  background-image: url("../img/features-leaf.svg");
}

.section-zooov .features_item:nth-child(2):before {
  background-image: url("../img/features-heartbeat.svg");
}

.section-zooov .features_item:nth-child(3):before {
  background-image: url("../img/features-paw.svg");
}

.section-zooov .features_item:nth-child(4):before {
  background-image: url("../img/features-smile.svg");
}

.section-about {
  background-color: #fff4f3;
  background-image: url("../img/bg-stroke-twice.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

@media (max-width: 991.98px) {
  .section-about {
    background-size: cover;
  }
}

.section-about .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4%;
  margin-bottom: 5rem;
}

@media (max-width: 991.98px) {
  .section-about .section-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 1rem;
    margin-bottom: 0;
  }
}

.section-about_image {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-about_image img {
  width: 100%;
}

.section-about_image::before {
  content: "";
  width: 30%;
  height: 22%;
  position: absolute;
  bottom: 12%;
  left: -10%;
  background: url("../img/about-dog.png") no-repeat center;
  background-size: contain;
}

.section-about_image::after {
  content: "";
  width: 22%;
  height: 18%;
  position: absolute;
  top: 38%;
  right: 3%;
  background: url("../img/about-heart.png") no-repeat center;
  background-size: contain;
}

.section-about_main {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.section-about_title {
  margin-bottom: 2.5rem;
}

.section-about_text {
  color: #434242;
  margin-bottom: 1.5rem;
}

.section-delivery .section-inner {
  padding-top: 5rem;
}

.section-delivery_title {
  margin-bottom: 5rem;
}

@media (max-width: 991.98px) {
  .section-delivery_title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 1rem;
    margin-bottom: 2.5rem;
  }
}

.section-delivery .features {
  position: relative;
}

@media (max-width: 575.98px) {
  .section-delivery .features {
    padding-left: 2.5rem;
  }
  .section-delivery .features:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.25rem;
    width: 1.5rem;
    height: 45rem;
    background-image: url("../img/arrow-long.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
  }
}

.section-delivery .features_item:nth-child(1):before {
  background-image: url("../img/features-package.svg");
}

.section-delivery .features_item:nth-child(2):before {
  background-image: url("../img/features-phonecall.svg");
}

.section-delivery .features_item:nth-child(3):before {
  background-image: url("../img/features-clock.svg");
}

.section-delivery .features_item:nth-child(4):before {
  background-image: url("../img/features-heart.svg");
}

@media (min-width: 576px) {
  .section-delivery .features_item:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 10rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    left: 5rem;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position-y: center;
  }
}

.section-faq .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  padding-bottom: 10rem;
}

@media (max-width: 991.98px) {
  .section-faq .section-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3.75rem;
  }
}

@media (max-width: 1199.98px) {
  .section-faq .section-inner {
    padding-bottom: 5rem;
  }
}

.section-faq_title {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media (max-width: 1199.98px) {
  .section-faq_title {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

.section-faq_questions {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-contacts {
  position: relative;
  background-color: #961914;
  background-image: url("../img/bg-contacts-line1.svg"), url("../img/bg-contacts-line2.svg"), url("../img/bg-contacts-shine1.svg"), url("../img/bg-contacts-shine2.svg"), url("../img/bg-contacts-shine3.svg"), url("../img/bg-contacts-dog.png"), url("../img/bg-contacts-meat.png"), url("../img/bg-contacts-apple.png");
  background-position: -8.75rem 85%, right -3.75rem top, 1.75rem 32%, left 36% bottom 50%, right 6.25rem top 55%, 43% 25%, left 38% bottom 30%, right 2% bottom;
  background-repeat: no-repeat;
}

@media (max-width: 1399.98px) {
  .section-contacts {
    background-position: -8.75rem 120%, right -3.75rem top, 1.75rem 24%, left 36% bottom 52%, right 6.25rem top 68%, 43% 25%, left 38% bottom 30%, right 2% bottom;
  }
}

@media (max-width: 575.98px) {
  .section-contacts {
    background-image: url("../img/bg-contacts-line1.svg"), url("../img/bg-contacts-line2.svg"), url("../img/bg-contacts-line3.svg"), url("../img/bg-contacts-shine1.svg"), url("../img/bg-contacts-shine2.svg"), url("../img/bg-contacts-shine3.svg"), url("../img/bg-contacts-dog.png"), url("../img/bg-contacts-meat.png"), url("../img/bg-contacts-apple.png");
    background-position: -8.75rem 1200%, right -7.5rem top -8%, bottom -8.75rem right -6.25rem, 1.75rem -1000%, left 36% bottom -1000%, right 1000% top 2.5rem, right 2% top 18%, right 5% top 38%, left 3% bottom 3.75rem;
    background-size: auto, 50%, auto, auto, auto, 15%, auto, 30%, auto;
  }
}

.section-contacts .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
}

@media (max-width: 991.98px) {
  .section-contacts .section-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
  }
}

@media (max-width: 575.98px) {
  .section-contacts .section-inner {
    row-gap: 4.5rem;
    padding-bottom: 14rem;
  }
}

.section-contacts_title {
  margin-bottom: 1.25rem;
}

.section-contacts_text {
  color: #ffffff;
}

.section-contacts_social-text {
  margin-bottom: 2rem;
}

@media (max-width: 991.98px) {
  .section-contacts_social-text {
    margin-bottom: 1.25rem;
  }
}

.section-contacts_phone {
  display: block;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 1.5rem;
}

@media (max-width: 991.98px) {
  .section-contacts_phone {
    margin-bottom: 1rem;
  }
}

.section-contacts_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .section-contacts_buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 1.25rem;
  }
}

.section-contacts_form-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-contacts_form-area-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.section-contacts_form-area-text {
  margin-bottom: 2rem;
}

.section-contacts_form {
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 3rem 7.5rem 3rem;
      grid-template-rows: 3rem 7.5rem 3rem;
}

@media (max-width: 991.98px) {
  .section-contacts_form {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: 3rem 3rem;
        grid-template-rows: 3rem 3rem;
  }
}

@media (max-width: 575.98px) {
  .section-contacts_form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 3rem 3rem 7.5rem 1.5rem 4rem;
        grid-template-rows: 3rem 3rem 7.5rem 1.5rem 4rem;
  }
}

.section-contacts_form-email {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

@media (max-width: 991.98px) {
  .section-contacts_form-email {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.section-contacts_form-textarea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

@media (max-width: 991.98px) {
  .section-contacts_form-textarea {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

@media (max-width: 575.98px) {
  .section-contacts_form-textarea {
    grid-row: auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
}

.section-contacts_form-checkbox-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.section-contacts_form-button {
  margin-top: auto;
  width: 100%;
  color: #ec7973;
  font-weight: 700;
  background-color: #fff4f3;
}

@media (min-width: 576px) {
  .section-contacts_form-button {
    width: 14rem;
    margin-left: auto;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

.section-contacts_form-button:hover {
  background-color: #ead1d0;
}

.footer {
  background-color: #69120e;
}

.footer .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 767.98px) {
  .footer .section-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer_text {
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.75rem;
}

@media (max-width: 1199.98px) {
  .footer_text__main {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 767.98px) {
  .footer_text__main {
    margin-bottom: 1.5rem;
  }
}

.footer_link {
  text-decoration: none;
  white-space: nowrap;
}

@media (max-width: 767.98px) {
  .footer_link:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
