@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Oswald:wght@700&display=swap");

// === MIXIN ===
@mixin montserrat {
  font-family: "Montserrat", sans-serif;
}

@mixin oswald {
  font-family: "Oswald", sans-serif;
}
// === / MIXIN ===

// === VARIABLES ===
$base: 4px;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$fs-sm: 12px;
$fs-md: 16px;
$fs-lg: 18px;

$padding-vertical__small: $base * 20;
$padding-vertical: $base * 40;
$padding-vertical__big: $base * 56;

$cl-main: #434242;
$cl-light: #9f9e9d;
$cl-primary: #961914;
$cl-secondary: #ead1d0;
// === / VARIABLES ===

// === COMMON ===
body {
  @include montserrat;
  font-size: $fs-md;
  font-weight: $fw-regular;
  line-height: 140%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-outer {
}

.section-inner {
  max-width: 1200px;
  padding-top: $padding-vertical__small;
  padding-bottom: $padding-vertical__small;
  margin: 0 auto;
}

.button {
  @include montserrat;
  width: $base * 56;
  height: $base * 12;
  font-weight: $fw-semibold;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &__primary {
    color: white;
    background-color: $cl-primary;
  }

  &__secondary {
    color: $cl-primary;
    border: 1px solid $cl-primary;
    background-color: white;
  }

  &__social {
    width: $base * 56;
    height: $base * 10;
    padding: $base * 2 $base * 3;
    display: flex;
    align-items: center;
    gap: $base * 2;
    font-size: 14px;
    font-weight: $fw-medium;
    color: white;
    background: rgba(255, 255, 255, 0.2);

    &:hover {
      background: rgba(255, 255, 255, 0.4);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include montserrat;
  margin: 0;
  padding: 0;
  font-weight: $fw-bold;
  line-height: 130%;
  color: $cl-main;
}

h1 {
  @include oswald;
  font-size: 54px;
  color: white;
}

h2 {
  @include oswald;
  font-size: 46px;
}

h3 {
  font-size: 18px;
  font-weight: $fw-semibold;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
  font-weight: $fw-semibold;
  line-height: 200%;
  text-transform: uppercase;
}

p {
  margin: 0;
  padding: 0;
}

.text {
  color: $cl-main;
}

.list {
  padding: 0;

  &_item {
    color: $cl-main;
    margin: 0;
    list-style-type: none;

    &:before {
      content: "●";
      color: $cl-primary;
      margin-right: 6px;
    }

    & + & {
      margin-top: $base * 4;
    }
  }
}

.features {
  display: flex;
  justify-content: space-between;

  &_item {
    position: relative;
    width: 23%;
  }

  &_icon {
    margin-bottom: $base * 4;
  }

  &_title {
    margin-bottom: $base * 2;
  }

  &_link {
    color: $cl-primary;
  }
}

.dropdown {
  &_item {
    display: flex;
    flex-direction: column;
    gap: $base * 3;
    padding: $base * 8 0;
  }

  &_item:first-child {
    padding-top: 0;
  }

  &_item:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_button {
    width: 30px;
    height: 30px;
    background: transparent;
    background-image: url("/img/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;

    &__pressed {
      background-image: url("/img/minus.svg");
    }
  }

  &_text {
    padding-right: $base * 20;
  }
}

.form {
  &-field {
    @include montserrat();
    font-size: 14px;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: $base * 2 $base * 4;
  }

  &-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
    }

    & + label::before {
      content: "";
      display: inline-block;
      width: $base * 4;
      height: $base * 4;
      flex-shrink: 0;
      flex-grow: 0;
      background: #fff4f3 no-repeat 50% 50%;
      border-radius: 2px;
      cursor: pointer;
      margin-right: $base * 2;
    }

    &:checked + label::before {
      background-image: url(/img/check.svg);
    }

    &:hover + label::before {
      background-color: $cl-secondary;
    }
  }
}
// === / COMMON ===

// === HEADER ===
.section-header {
  width: 100%;
  margin: $base * 4 0;

  .section-inner {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__fixed {
    position: fixed;
    left: 0;
    top: 0;
  }
}

.nav-wrapper {
  display: flex;
  list-style: none;

  &_item {
    & + & {
      margin-left: $base * 13;
    }
  }

  &_link {
    font-weight: $fw-medium;
    text-decoration: none;
    color: white;

    &:hover,
    &--active {
      border-bottom: 2px solid #961914;
    }
  }
}
// === / HEADER ===

// === HERO ===
.section-hero {
  color: white;
  background-image: url("../img/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: top;

  .section-inner {
    padding-top: $padding-vertical__big;
    padding-bottom: $padding-vertical__big;
  }

  &_title {
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    z-index: 5;

    &:after {
      content: "";
      display: inline-block;
      width: 300px;
      height: 150px;
      background-image: url(../img/hero-stroke.svg);
      background-repeat: no-repeat;
      position: absolute;
      left: 165px;
      top: 60px;
    }
  }

  &_text {
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 25px;
  }

  &_zooov-background {
    position: absolute;
    right: -21px;
    top: 160px;
  }
}

// === / HERO ===

// === BARF ===
.section-barf {
  &_main {
    display: flex;
    align-items: center;
    padding-top: $padding-vertical__small;
    padding-bottom: $padding-vertical__small;
  }

  &_title {
    margin-bottom: 32px;
  }

  &_text {
    margin-bottom: 24px;
  }

  &_list-title {
    margin-bottom: 16px;
  }

  &_compositions {
    background-color: $cl-secondary;
    padding: $base * 8 $base * 20;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/background-stroke-light.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.composition {
  &_title {
    margin-bottom: 16px;
  }

  &_list {
    column-count: 2;
    padding: 0;
    margin: 0;
  }

  &_item {
    list-style-type: none;
    font-weight: $fw-medium;
    font-size: $fs-lg;
    line-height: 250%;
    color: $cl-main;
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: $base * 9;

    &__meat {
      background-image: url(../img/meat.svg);
    }

    &__bones {
      background-image: url(../img/bones.svg);
    }

    &__vegetables {
      background-image: url(../img/vegetables.svg);
    }

    &__liver {
      background-image: url(../img/liver.svg);
    }

    &__offal {
      background-image: url(../img/offal.svg);
    }

    &__nuts {
      background-image: url(../img/nuts.svg);
    }

    &__fruits {
      background-image: url(../img/fruits.svg);
    }
  }
}

// === / BARF ===

// === RATIONS ===
.section-rations {
  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $base * 20;
  }

  &_title {
    white-space: nowrap;
    margin-right: $base * 25;
  }

  &_catalog {
    margin-bottom: $base * 20;
  }

  &_count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $cl-secondary;
    background-image: url(../img/background-stroke-light.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: $base * 13 $base * 20;

    &-text {
      width: 70%;
      font-size: 28px;
      font-weight: $fw-medium;
      line-height: 140%;
      letter-spacing: 0.02em;
    }
  }
}

.catalog {
  display: flex;

  &_item {
    &-image {
      margin-bottom: 45px;
    }

    &-title {
      margin-bottom: 4px;
    }

    &-category {
      color: $cl-light;
      font-size: 13px;
      line-height: 130%;
      margin-bottom: 16px;
    }

    &-text {
      color: $cl-main;
      margin-bottom: 11px;
    }

    &-parameters {
      color: $cl-light;
      font-size: 13px;
      line-height: 130%;
      margin-bottom: 24px;
    }

    &-button {
      width: $base * 40;
    }
  }
}
// === / RATIONS ===

// === ZOOOV ===
.section-zooov {
  background-image: url("../img/background-stroke-dark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;

  .section-inner {
    padding-bottom: $padding-vertical;
  }

  &_title {
    margin-bottom: $base * 15;
  }
}
// === / ZOOOV ===

// === ABOUT ===
.section-about {
  background-color: #fff4f3;
  background-image: url("/img/background-stroke-twice.svg");
  background-repeat: no-repeat;

  .section-inner {
    display: flex;
    justify-content: space-between;
  }

  &_images {
    position: relative;
    min-width: 556px;
    min-height: 745px;
  }

  &_image {
    position: absolute;
  }

  &_image1 {
    top: 0;
    left: 0;
  }

  &_image2 {
    bottom: 0;
    right: 0;
  }

  &_image3 {
    top: 475px;
    left: -55px;
  }

  &_image4 {
    top: 287px;
    right: 21px;
  }

  &_main {
    width: 49%;
  }

  &_title {
    margin-bottom: $base * 10;
  }

  &_text {
    color: $cl-main;
    margin-bottom: $base * 6;
  }
}
// === / ABOUT ===

// === DELIVERY ===
.section-delivery {
  .section-inner {
    padding-top: $padding-vertical;
  }

  &_title {
    margin-bottom: $base * 20;
  }

  .features_item:not(:last-child) .features_title:after {
    content: "";
    display: inline-block;
    width: 160px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("/img/arrow.svg");
    background-repeat: no-repeat;
    background-position-y: center;
  }
}

// === / DELIVERY ===

// === FAQ ===
.section-faq {
  .section-inner {
    display: flex;
    gap: 1rem;
    padding-bottom: $padding-vertical;
  }

  &_title {
    flex: 1;
  }

  &_questions {
    flex: 2;
  }
}
// === / FAQ ===

// === CONTACTS ===
.section-contacts {
  background-color: #961914;
  background-image: url("/img/background-contacts.png");
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-size: cover;

  .section-inner {
    display: flex;
    gap: $base * 45;
  }

  &_social {
    flex: 4;
  }

  &_title {
    margin-bottom: $base * 2;
  }

  &_text {
    color: white;
  }

  &_social-text {
    margin-bottom: $base * 8;
  }

  &_phone {
    display: block;
    font-weight: $fw-bold;
    text-decoration: none;
    margin-bottom: $base * 6;
  }

  &_buttons {
    display: flex;
    flex-direction: column;
    gap: $base * 4;
    margin-bottom: $base * 10;
  }

  &_form-area {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &-title {
      font-weight: $fw-semibold;
      font-size: 20px;
      margin-bottom: $base;
    }
    &-text {
      margin-bottom: $base * 8;
    }
  }

  &_form {
    display: grid;
    box-sizing: border-box;
    grid-column-gap: $base * 6;
    grid-row-gap: $base * 4;
    grid-template-columns: 3fr 1fr 2fr;
    grid-template-rows: $base * 12 $base * 30 $base * 12;

    &-email {
      grid-column: 2 / 4;
    }

    &-textarea {
      grid-column: 1 / 4;
      resize: none;
    }

    &-checkbox {
      &-area {
        display: flex;
        align-items: center;
        gap: $base * 2;
      }

      &-label {
        width: 80%;
        font-size: $fs-sm;
        line-height: 140%;
      }
    }

    &-button {
      width: 100%;
      grid-column: 3 / 4;
      color: #ec7973;
      font-weight: $fw-bold;
      background-color: #fff4f3;

      &:hover {
        background-color: $cl-secondary;
      }
    }
  }
}
// === / CONTACTS ===

// === FOOTER ===
.footer {
  background-color: #69120e;

  .section-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $base * 8;
    padding-bottom: $base * 8;
  }

  &_text {
    color: rgba(255, 255, 255, 0.4);
    font-size: $fs-sm;
  }

  &_link {
    text-decoration: none;
  }
}
// === / FOOTER ===
