@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Oswald:wght@700&display=swap");

// === MIXIN ===
@mixin montserrat {
  font-family: "Montserrat", sans-serif;
}

@mixin oswald {
  font-family: "Oswald", sans-serif;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin word-outline($image) {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url($image);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -5;
}

@mixin catalog-item-sticker($image) {
  content: "";
  width: $base * 15;
  height: $base * 15;
  position: absolute;
  top: $base * 5;
  left: $base * 5;
  background: url($image) no-repeat center;
  background-size: cover;
}
// === / MIXIN ===

// === FUNCTIONS ===
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem($num) {
  @return (strip-unit($num) / 16) * 1rem;
}
// === / FUNCTIONS ===

// === VARIABLES ===
$base: rem(4px);

$breakpoints-xs-min: 0;
$breakpoints-sm-min: 576px;
$breakpoints-md-min: 768px;
$breakpoints-lg-min: 992px;
$breakpoints-xl-min: 1200px;
$breakpoints-xxl-min: 1400px;

$breakpoints-xs-max: $breakpoints-sm-min - 0.02px;
$breakpoints-sm-max: $breakpoints-md-min - 0.02px;
$breakpoints-md-max: $breakpoints-lg-min - 0.02px;
$breakpoints-lg-max: $breakpoints-xl-min - 0.02px;
$breakpoints-xl-max: $breakpoints-xxl-min - 0.02px;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$fs-xxs: rem(12px);
$fs-xs: rem(14px);
$fs-s: rem(16px);
$fs-m: rem(18px);
$fs-l: rem(20px);
$fs-xl: rem(28px);
$fs-xxl: rem(46px);
$fs-xxxl: rem(54px);

$pv-xs: $base * 15;
$pv-s: $base * 20;
$pv-m: $base * 40;
$pv-l: $base * 56;

$cl-red-100: #fff4f3;
$cl-red-200: #ead1d0;
$cl-red-300: #eab5b7;
$cl-red-400: #ec7973;
$cl-red-500: #961914;
$cl-red-600: #8b1a12;
$cl-red-700: #75110d;
$cl-red-800: #69120e;

$cl-white: #ffffff;
$cl-gray-200: #f4f5f5;
$cl-gray-300: #eff0f0;
$cl-gray-400: #9f9e9d;
$cl-gray-500: #9d9f9e;
$cl-gray-600: #434242;
$cl-gray-700: #424242;
$cl-gray-800: #161920;
$cl-black: #000000;
// === / VARIABLES ===

// === COMMON ===
html {
  scroll-padding-top: 76px;

  @media (max-width: $breakpoints-sm-max) {
    font-size: 14px;
  }
}

body {
  @include montserrat;
  font-size: $fs-s;
  font-weight: $fw-regular;
  line-height: 140%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-outer {
  padding: 0 $base * 6;
}

.section-inner {
  max-width: 1200px;
  padding-top: $pv-s;
  padding-bottom: $pv-s;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include montserrat;
  margin: 0;
  padding: 0;
  font-weight: $fw-bold;
  line-height: 130%;
  color: $cl-gray-600;
}

h1 {
  @include oswald;
  font-size: $fs-xxxl;
  color: $cl-white;
}

h2 {
  @include oswald;
  font-size: $fs-xxl;
}

h3 {
  font-size: $fs-m;
  font-weight: $fw-semibold;
}

h4 {
  font-size: $fs-s;
}

h5 {
  font-size: $fs-xs;
  font-weight: $fw-semibold;
  line-height: 200%;
  text-transform: uppercase;
}

p {
  margin: 0;
  padding: 0;
}

.text {
  color: $cl-gray-600;
}

.logo-image {
  width: 100%;
  height: 100%;
}

.link {
  color: $cl-red-500;
}

.button {
  @include montserrat;
  width: $base * 56;
  height: $base * 12;
  font-size: $fs-s;
  font-weight: $fw-semibold;
  border: none;
  border-radius: $base * 2;
  cursor: pointer;

  &__burger {
    display: none;
    align-items: center;
    justify-content: center;
    width: $base * 10;
    height: $base * 10;
    background: transparent;
    border: none;
    margin-left: auto;

    svg {
      fill: white;
    }

    @media (max-width: $breakpoints-md-max) {
      display: flex;
    }
  }

  &__primary {
    color: $cl-white;
    background-color: $cl-red-500;

    &:hover {
      background-color: $cl-red-700;
    }
  }

  &__secondary {
    color: $cl-red-500;
    border: 1px solid $cl-red-500;
    background-color: $cl-white;

    &:hover {
      border: none;
      background-color: $cl-red-200;
    }
  }

  &__social {
    width: $base * 56;
    height: $base * 10;
    padding: $base * 2 $base * 3;
    display: flex;
    align-items: center;
    gap: $base * 2;
    font-size: $fs-xs;
    font-weight: $fw-medium;
    color: $cl-white;
    background: rgba($cl-white, 0.2);

    &:hover {
      background: rgba($cl-white, 0.4);
    }
  }
}

.list {
  padding: 0;

  &_item {
    color: $cl-gray-600;
    margin: 0;
    list-style-type: none;

    &:before {
      content: "●";
      color: $cl-red-500;
      margin-right: $base * 2;
    }

    & + & {
      margin-top: $base * 4;
    }
  }
}

.features {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $breakpoints-md-max) {
    row-gap: 40px;
  }

  &_item {
    position: relative;
    width: 23%;
    padding-top: $base * 15;

    @media (max-width: $breakpoints-md-max) {
      width: 48%;
    }

    &:before {
      content: "";
      width: $base * 10;
      height: $base * 10;
      position: absolute;
      inset: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &_icon {
    margin-bottom: $base * 4;
  }

  &_title {
    margin-bottom: $base * 2;
  }
}

.accordion {
  @include list-reset();

  &_item {
    display: flex;
    flex-direction: column;

    &__active {
      .accordion {
        &_header {
          padding-bottom: $base * 3;
          transition: all 0.2s ease-in-out;
        }

        &_content {
          max-height: $base * 30;
          visibility: visible;
          transition: all 0.2s ease-in-out;
        }

        &_button {
          transform: rotate(135deg);
          transition: all 0.2s ease-in-out;
        }
      }
    }

    &:first-child {
      .accordion_header {
        padding-top: 0;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid $cl-gray-300;
    }
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $base * 8 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  &_title {
    max-width: 90%;
  }

  &_button {
    width: $base * 8;
    height: $base * 8;
    box-sizing: border-box;
    background: transparent;
    border: none;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.2s ease-in-out;
  }

  &_content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
  }

  &_text {
    padding-bottom: $base * 8;
    padding-right: $base * 20;
  }
}

.form {
  &-field {
    @include montserrat();
    font-size: $fs-xs;
    border-radius: $base * 2;
    box-sizing: border-box;
    padding: $base * 2 $base * 4;
    height: 100%;

    &__dark {
      color: $cl-white;
      background: rgba($cl-white, 0.05);
      border: 1px solid rgba($cl-white, 0.5);
    }

    &__light {
      color: $cl-black;
      background: $cl-gray-200;
      border: none;
    }
  }

  &-label {
    font-size: $fs-xs;
    line-height: 140%;

    &__checkbox {
      font-size: $fs-xxs;
    }
  }

  &-textarea {
    resize: none;
  }

  &-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
    }

    & + label::before {
      content: "";
      display: inline-block;
      width: $base * 4;
      height: $base * 4;
      flex-shrink: 0;
      flex-grow: 0;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: $base;
      cursor: pointer;
      margin-right: $base * 2;
    }

    &__dark {
      & + label::before {
        background-color: $cl-red-100;
      }

      &:hover + label::before {
        background-color: $cl-red-200;
      }
    }

    &__light {
      & + label::before {
        box-shadow: inset 0px 0px 0px 1px $cl-gray-400;
        background-color: $cl-white;
      }

      &:hover + label::before {
        background-color: $cl-gray-200;
      }

      &:checked + label::before {
        border: none;
        box-shadow: inset 0px 0px 0px 1px $cl-red-500;
      }
    }

    &:checked + label::before {
      background-image: url("../img/check.svg");
    }
  }
}

.catalog {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &_item {
    flex-basis: 24%;
    position: relative;

    @media (max-width: $breakpoints-md-max) {
      flex-basis: 32%;
      margin-bottom: $base * 10;
    }

    &-image {
      width: 100%;
      margin-bottom: $base * 11;
      cursor: pointer;

      @media (max-width: $breakpoints-md-max) {
        margin-bottom: $base * 5;
      }
    }

    &-title {
      margin-bottom: $base;
      cursor: pointer;
    }

    &-category {
      color: $cl-gray-400;
      font-size: $fs-xs;
      line-height: 130%;
      margin-bottom: $base * 4;

      &__turkey:after {
        @include catalog-item-sticker("../img/sticker-turkey.svg");
      }

      &__mutton:after {
        @include catalog-item-sticker("../img/sticker-mutton.svg");
      }
    }

    &-text {
      color: $cl-gray-600;
      margin-bottom: $base * 3;
    }

    &-parameters {
      color: $cl-gray-400;
      font-size: $fs-xs;
      line-height: 130%;
      margin-bottom: $base * 6;
    }

    &-button {
      width: $base * 40;
    }
  }
}

.popup {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 100;

  &__catalog {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;

    .popup_content {
      width: $base * 200;
      height: $base * 125;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: $base * 20 1fr;
      column-gap: $base * 10;
    }
  }

  &__count {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;

    .popup_content {
      width: $base * 140;
    }
  }

  &__open {
    opacity: 1;
    transition: all 0.2s;
    visibility: visible;

    .popup_content {
      opacity: 1;
      transition: all 0.2s;
    }
  }

  &_content {
    position: relative;
    padding: $pv-xs;
    background: $cl-white;
    transition: all 0.8s;
  }

  &_image {
    height: 100%;
    object-fit: cover;
    cursor: auto;
    margin-bottom: 0;

    &-area {
      grid-row: 1 / 3;
    }
  }

  &_close-button {
    position: absolute;
    top: $base * 4;
    right: $base * 4;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &_count-button {
    width: 100%;
  }

  &_title {
    color: $cl-red-500;
    margin-bottom: $base * 6;
  }

  &_text {
    font-size: $fs-s;
    color: $cl-gray-600;

    &:not(:last-child) {
      margin-bottom: $base * 4;
    }
  }

  &_price {
    font-weight: $fw-medium;
    font-size: $fs-l;
  }

  &-form {
    display: grid;
    align-items: center;

    &-order {
      grid-row-gap: $base * 3;
      grid-template-columns: 40% 25% 35%;
      grid-template-rows: repeat(6, $base * 12);
    }

    &-count {
      grid-row-gap: $base * 3;
      grid-template-rows: $base * 16 repeat(4, $base * 12) $base * 24 $base * 16 $base * 12;

      &_radio-buttons {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &_radio-button {
        & + & {
          margin-top: $base * 2;
        }
      }
    }
  }

  &_form {
    &-field {
      width: 100%;

      &__full {
        grid-column: 1 / 4;
      }

      &__center-right {
        width: 100%;
        grid-column: 2 / 4;
      }

      &__right {
        grid-column: 3 / 4;
      }
    }

    &-label {
      color: $cl-gray-400;
    }
  }

  &_description {
    display: none;

    &__thanks {
      grid-row: 1 / 3;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .catalog_item {
    &-title {
      font-size: $fs-l;
      cursor: auto;
    }

    &-category {
      font-size: $fs-s;

      &__turkey:after,
      &__mutton:after {
        width: $base * 20;
        height: $base * 20;
        top: $base * 20;
        left: $base * 20;
      }
    }

    &-parameters {
      font-size: $fs-xs;
    }
  }
}
// === / COMMON ===

// === HEADER ===
.section-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding-top: $base * 4;
  background-color: transparent;
  z-index: 100;
  transition: 0.1s;

  .section-inner {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_logo {
    width: $base * 20;
    height: $base * 20;

    @media (max-width: $breakpoints-md-max) {
      width: $base * 15;
      height: $base * 15;
    }
  }

  &__fixed {
    padding-top: $base * 2;
    padding-bottom: $base * 2;
    position: fixed;
    background-color: $cl-white;
    margin: 0;
    box-shadow: 0 2px 10px rgba(122, 122, 122, 0.3);
    transition: 0.1s;

    .logo {
      width: $base * 15;
      height: $base * 15;

      @media (max-width: $breakpoints-md-max) {
        width: $base * 10;
        height: $base * 10;
      }
    }

    .nav-wrapper {
      &_link {
        color: black;
      }
    }

    .button__burger svg {
      fill: black;
    }
  }
}

.nav {
  @media (max-width: $breakpoints-md-max) {
    display: none;
  }
}

.nav-wrapper {
  position: relative;
  display: flex;
  list-style: none;
  padding: 0;

  &_item {
    white-space: nowrap;

    & + & {
      margin-left: $base * 13;
    }
  }

  &_link {
    font-weight: $fw-medium;
    text-decoration: none;
    color: $cl-white;

    &:hover,
    &--active {
      border-bottom: $base/2 solid $cl-red-500;
    }
  }
}
// === / HEADER ===

// === HERO ===
.section-hero {
  color: $cl-white;

  background-image: url("../img/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  overflow: hidden;

  .section-inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: $base * 28 0 0;
  }

  &_title {
    position: relative;
    z-index: 0;
    margin-bottom: $base * 3;
  }

  &_outline {
    position: relative;
  }

  &_outline:after {
    width: $base * 66;
    height: $base * 24;
    top: -$base * 1;
    left: -$base * 7;
    @include word-outline("../img/bg-stroke1.svg");
  }

  &_text {
    font-size: $fs-l;
    line-height: 140%;
    margin-bottom: $base * 6;
  }

  &:after {
    width: 20vh;
    height: 40vh;
    content: "";
    background: url("../img/zooov.svg");
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: $base * 10;
  }
}

// === / HERO ===

// === BARF ===
.section-barf {
  &_main {
    display: flex;
    align-items: center;
    gap: 2%;
    padding-top: $pv-s;
    padding-bottom: $pv-s;

    @media (max-width: $breakpoints-md-max) {
      flex-direction: column;
      padding-bottom: 0;
    }
  }

  &_description {
    flex: 1;

    @media (max-width: $breakpoints-md-max) {
      margin-bottom: $base * 6;
    }
  }

  &_image {
    @media (max-width: $breakpoints-md-max) {
      width: 100%;
      height: $base * 80;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_title {
    margin-bottom: $base * 8;
  }

  &_text {
    margin-bottom: $base * 6;
  }

  &_list-title {
    margin-bottom: $base * 4;
  }

  &_compositions {
    background-color: $cl-red-200;
    padding: $base * 8 $base * 20;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    background-image: url("../img/bg-stroke-light.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: $breakpoints-lg-max) {
      padding: $base * 6 $base * 10;
    }

    @media (max-width: $breakpoints-md-max) {
      gap: 15%;
    }
  }
}

.composition {
  flex: 1;

  &_title {
    margin-bottom: $base * 4;
  }

  &_list {
    column-count: 2;
    column-gap: 0;
    padding: 0;
    margin: 0;

    @media (max-width: $breakpoints-md-max) {
      column-count: 1;
    }
  }

  &_item {
    list-style-type: none;
    white-space: nowrap;
    font-weight: $fw-medium;
    font-size: $fs-m;
    line-height: 250%;
    color: $cl-gray-600;
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: $base * 9;

    @media (max-width: $breakpoints-lg-max) {
      width: $base * 15;
    }

    &__meat {
      background-image: url("../img/meat.svg");
    }

    &__bones {
      background-image: url("../img/bones.svg");
    }

    &__vegetables {
      background-image: url("../img/vegetables.svg");
    }

    &__liver {
      background-image: url("../img/liver.svg");
    }

    &__offal {
      background-image: url("../img/offal.svg");
    }

    &__nuts {
      background-image: url("../img/nuts.svg");
    }

    &__fruits {
      background-image: url("../img/fruits.svg");
    }
  }
}

// === / BARF ===

// === RATIONS ===
.section-rations {
  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $base * 20;
    gap: $base * 25;

    @media (max-width: $breakpoints-md-max) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: $base * 10;
      gap: $base * 8;
    }
  }

  &_title {
    white-space: nowrap;
    z-index: 0;
  }

  &_outline {
    position: relative;
  }

  &_outline:after {
    width: $base * 47;
    height: $base * 20;
    top: -$base * 1;
    left: -$base * 7;
    @include word-outline("../img/bg-stroke2.svg");
  }

  &_catalog {
    margin-bottom: $base * 20;

    @media (max-width: $breakpoints-md-max) {
      margin-bottom: $base * 10;
    }
  }

  &_count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $cl-red-200;
    background-image: url("../img/bg-stroke-light.svg");
    background-position: center;
    background-repeat: no-repeat;
    padding: $base * 13 $base * 20;

    @media (max-width: $breakpoints-md-max) {
      flex-direction: column;
      height: 120px;
      padding: $base * 6 $base * 10;
    }

    &-text {
      flex-basis: 70%;
      font-size: $fs-xl;
      font-weight: $fw-medium;
      line-height: 140%;
      letter-spacing: 0.02em;

      @media (max-width: $breakpoints-md-max) {
        font-size: $fs-l;
        text-align: center;
        flex-basis: auto;
      }
    }
  }
}
// === / RATIONS ===

// === ZOOOV ===
.section-zooov {
  background-image: url("../img/bg-stroke-dark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;

  .section-inner {
    padding-bottom: $pv-m;
  }

  &_title {
    margin-bottom: $base * 15;
  }

  &_outline {
    position: relative;
  }

  &_outline:after {
    @include word-outline("../img/bg-stroke3.svg");

    width: $base * 7;
    height: $base * 8;
    top: 70%;
    left: 95%;
  }

  .features_item {
    &:nth-child(1):before {
      background-image: url("../img/features-leaf.svg");
    }

    &:nth-child(2):before {
      background-image: url("../img/features-heartbeat.svg");
    }

    &:nth-child(3):before {
      background-image: url("../img/features-paw.svg");
    }

    &:nth-child(4):before {
      background-image: url("../img/features-smile.svg");
    }
  }
}
// === / ZOOOV ===

// === ABOUT ===
.section-about {
  background-color: $cl-red-100;
  background-image: url("../img/bg-stroke-twice.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;

  @media (max-width: $breakpoints-md-max) {
    background-size: cover;
  }

  .section-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
    margin-bottom: $base * 20;

    @media (max-width: $breakpoints-sm-max) {
      flex-direction: column-reverse;
      row-gap: $base * 4;
    }
  }

  &_image {
    flex: 1;

    img {
      width: 100%;
    }
  }

  &_main {
    flex-basis: 50%;
  }

  &_title {
    margin-bottom: $base * 10;
  }

  &_text {
    color: $cl-gray-600;
    margin-bottom: $base * 6;
  }
}
// === / ABOUT ===

// === DELIVERY ===
.section-delivery {
  .section-inner {
    padding-top: $pv-s;
  }

  &_title {
    margin-bottom: $base * 20;
  }

  .features_item {
    &:nth-child(1):before {
      background-image: url("../img/features-package.svg");
    }

    &:nth-child(2):before {
      background-image: url("../img/features-phonecall.svg");
    }

    &:nth-child(3):before {
      background-image: url("../img/features-clock.svg");
    }

    &:nth-child(4):before {
      background-image: url("../img/features-heart.svg");
    }

    &:not(:last-child):after {
      content: "";
      display: inline-block;
      width: $base * 40;
      height: $base * 10;
      position: absolute;
      top: 0;
      left: $base * 20;
      background-image: url("../img/arrow.svg");
      background-repeat: no-repeat;
      background-position-y: center;
    }
  }
}

// === / DELIVERY ===

// === FAQ ===
.section-faq {
  .section-inner {
    display: flex;
    gap: 5%;
    padding-bottom: $pv-m;

    @media (max-width: $breakpoints-md-max) {
      flex-direction: column;
      row-gap: $base * 15;
    }

    @media (max-width: $breakpoints-lg-max) {
      padding-bottom: $pv-s;
    }
  }

  &_title {
    flex-basis: 30%;

    @media (max-width: $breakpoints-lg-max) {
      flex-basis: 20%;
    }
  }

  &_questions {
    flex: 1;
  }
}
// === / FAQ ===

// === CONTACTS ===
.section-contacts {
  background-color: $cl-red-500;
  background-image: url("../img/bg-contacts.png");
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-size: cover;

  .section-inner {
    display: flex;
    gap: 10%;

    @media (max-width: $breakpoints-md-max) {
      flex-direction: column;
      row-gap: $base * 10;
    }
  }

  &_social {
  }

  &_title {
    margin-bottom: $base * 5;
  }

  &_text {
    color: $cl-white;
  }

  &_social-text {
    margin-bottom: $base * 8;

    @media (max-width: $breakpoints-md-max) {
      margin-bottom: $base * 5;
    }
  }

  &_phone {
    display: block;
    font-weight: $fw-bold;
    text-decoration: none;
    margin-bottom: $base * 6;

    @media (max-width: $breakpoints-md-max) {
      margin-bottom: $base * 4;
    }
  }

  &_buttons {
    display: flex;
    flex-direction: column;
    gap: $base * 4;
    margin-bottom: $base * 10;

    @media (max-width: $breakpoints-md-max) {
      flex-direction: row;
      margin-bottom: $base * 5;
    }
  }

  &_form-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &-title {
      font-weight: $fw-semibold;
      font-size: $fs-l;
      margin-bottom: $base;
    }
    &-text {
      margin-bottom: $base * 8;
    }
  }

  &_form {
    display: grid;
    box-sizing: border-box;
    grid-column-gap: $base * 6;
    grid-row-gap: $base * 4;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: $base * 12 $base * 30 $base * 12;

    @media (max-width: $breakpoints-md-max) {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: $base * 12 $base * 12;
    }

    &-email {
      grid-column: 2 / 3;

      @media (max-width: $breakpoints-md-max) {
        grid-column: 1 / 2;
      }
    }

    &-textarea {
      grid-column: 1 / 3;

      @media (max-width: $breakpoints-md-max) {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
      }
    }

    &-checkbox {
      &-area {
        display: flex;
        align-items: center;
        gap: $base * 2;
      }
    }

    &-button {
      margin-left: auto;
      width: $base * 56;
      grid-column: 2 / 3;
      color: $cl-red-400;
      font-weight: $fw-bold;
      background-color: $cl-red-100;

      &:hover {
        background-color: $cl-red-200;
      }
    }
  }
}
// === / CONTACTS ===

// === FOOTER ===
.footer {
  background-color: $cl-red-800;

  .section-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: $base * 8;
    padding-bottom: $base * 8;

    @media (max-width: $breakpoints-sm-max) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &_text {
    color: rgba($cl-white, 0.4);
    font-size: $fs-xxs;

    &__main {
      @media (max-width: $breakpoints-lg-max) {
        flex-basis: 50%;
      }

      @media (max-width: $breakpoints-sm-max) {
        margin-bottom: $base * 6;
      }
    }
  }

  &_link {
    text-decoration: none;
    white-space: nowrap;

    &:not(:last-child) {
      margin-bottom: $base * 2;
    }
  }
}
// === / FOOTER ===
