@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Oswald:wght@700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-inner {
  max-width: 1200px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 130%;
  color: #434242;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 54px;
  color: white;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 46px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 200%;
  text-transform: uppercase;
}

p {
  margin: 0;
  padding: 0;
}

.text {
  color: #434242;
}

.logo-image {
  width: 100%;
  height: 100%;
}

.button {
  font-family: "Montserrat", sans-serif;
  width: 224px;
  height: 48px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button__primary {
  color: white;
  background-color: #961914;
}

.button__primary:hover {
  background-color: #75110d;
}

.button__secondary {
  color: #961914;
  border: 1px solid #961914;
  background-color: white;
}

.button__secondary:hover {
  border: none;
  background-color: #ead1d0;
}

.button__social {
  width: 224px;
  height: 40px;
  padding: 8px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background: rgba(255, 255, 255, 0.2);
}

.button__social:hover {
  background: rgba(255, 255, 255, 0.4);
}

.list {
  padding: 0;
}

.list_item {
  color: #434242;
  margin: 0;
  list-style-type: none;
}

.list_item:before {
  content: "●";
  color: #961914;
  margin-right: 6px;
}

.list_item + .list_item {
  margin-top: 16px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features_item {
  position: relative;
  width: 23%;
}

.features_icon {
  margin-bottom: 16px;
}

.features_title {
  margin-bottom: 8px;
}

.features_link {
  color: #961914;
}

.dropdown_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  padding: 32px 0;
}

.dropdown_item:first-child {
  padding-top: 0;
}

.dropdown_item:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.dropdown_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.dropdown_button {
  width: 30px;
  height: 30px;
  background: transparent;
  background-image: url("/img/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.dropdown_button__pressed {
  background-image: url("/img/minus.svg");
}

.dropdown_text {
  padding-right: 80px;
}

.form-field {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: white;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 8px 16px;
}

.form-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.form-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background-color: #fff4f3;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.form-checkbox:checked + label::before {
  background-image: url(/img/check.svg);
}

.form-checkbox:hover + label::before {
  background-color: #ead1d0;
}

.section-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin: 16px 0;
  background-color: transparent;
  z-index: 100;
}

.section-header .section-inner {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-header_logo {
  width: 80px;
  height: 80px;
}

.section-header__fixed {
  background-color: white;
  margin: 0;
  padding: 8px 0;
}

.section-header__fixed .logo {
  width: 60px;
  height: 60px;
}

.section-header__fixed .nav-wrapper_link {
  color: black;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-wrapper_item + .nav-wrapper_item {
  margin-left: 52px;
}

.nav-wrapper_link {
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.nav-wrapper_link:hover, .nav-wrapper_link--active {
  border-bottom: 2px solid #961914;
}

.section-hero {
  color: white;
  background-image: url("../img/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  z-index: -5;
}

.section-hero .section-inner {
  padding-top: 224px;
  padding-bottom: 224px;
}

.section-hero_title {
  margin-bottom: 10px;
}

.section-hero_outline {
  position: relative;
}

.section-hero_outline:after {
  width: 300px;
  height: 150px;
  display: inline-block;
  position: absolute;
  top: -8px;
  left: -28px;
  content: "";
  background-image: url("../img/bg-stroke1.svg");
  background-repeat: no-repeat;
  z-index: -5;
}

.section-hero_text {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 25px;
}

.section-hero_zooov-background {
  position: absolute;
  right: -21px;
  top: 160px;
}

.section-barf_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-barf_title {
  margin-bottom: 32px;
}

.section-barf_text {
  margin-bottom: 24px;
}

.section-barf_list-title {
  margin-bottom: 16px;
}

.section-barf_compositions {
  background-color: #ead1d0;
  padding: 32px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../img/bg-stroke-light.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.composition_title {
  margin-bottom: 16px;
}

.composition_list {
  -webkit-column-count: 2;
          column-count: 2;
  padding: 0;
  margin: 0;
}

.composition_item {
  list-style-type: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 250%;
  color: #434242;
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 36px;
}

.composition_item__meat {
  background-image: url(../img/meat.svg);
}

.composition_item__bones {
  background-image: url(../img/bones.svg);
}

.composition_item__vegetables {
  background-image: url(../img/vegetables.svg);
}

.composition_item__liver {
  background-image: url(../img/liver.svg);
}

.composition_item__offal {
  background-image: url(../img/offal.svg);
}

.composition_item__nuts {
  background-image: url(../img/nuts.svg);
}

.composition_item__fruits {
  background-image: url(../img/fruits.svg);
}

.section-rations_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.section-rations_title {
  white-space: nowrap;
  margin-right: 100px;
  z-index: 0;
}

.section-rations_outline {
  position: relative;
}

.section-rations_outline:after {
  width: 300px;
  height: 150px;
  display: inline-block;
  position: absolute;
  top: -8px;
  left: -28px;
  content: "";
  background-image: url("../img/bg-stroke2.svg");
  background-repeat: no-repeat;
  z-index: -5;
}

.section-rations_catalog {
  margin-bottom: 80px;
}

.section-rations_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ead1d0;
  background-image: url(../img/bg-stroke-light.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 52px 80px;
}

.section-rations_count-text {
  width: 70%;
  font-size: 28px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.02em;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog_item-image {
  margin-bottom: 45px;
  cursor: pointer;
}

.catalog_item-title {
  margin-bottom: 4px;
  cursor: pointer;
}

.catalog_item-category {
  color: #9f9e9d;
  font-size: 13px;
  line-height: 130%;
  margin-bottom: 16px;
}

.catalog_item-text {
  color: #434242;
  margin-bottom: 11px;
}

.catalog_item-parameters {
  color: #9f9e9d;
  font-size: 13px;
  line-height: 130%;
  margin-bottom: 24px;
}

.catalog_item-button {
  width: 160px;
}

.section-zooov {
  background-image: url("../img/bg-stroke-dark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
}

.section-zooov .section-inner {
  padding-bottom: 160px;
}

.section-zooov_title {
  margin-bottom: 60px;
}

.section-about {
  background-color: #fff4f3;
  background-image: url("../img/bg-stroke-twice.svg");
  background-repeat: no-repeat;
}

.section-about .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-about_images {
  position: relative;
  min-width: 556px;
  min-height: 745px;
}

.section-about_image {
  position: absolute;
}

.section-about_image1 {
  top: 0;
  left: 0;
}

.section-about_image2 {
  bottom: 0;
  right: 0;
}

.section-about_image3 {
  top: 475px;
  left: -55px;
}

.section-about_image4 {
  top: 287px;
  right: 21px;
}

.section-about_main {
  width: 49%;
}

.section-about_title {
  margin-bottom: 40px;
}

.section-about_text {
  color: #434242;
  margin-bottom: 24px;
}

.section-delivery .section-inner {
  padding-top: 160px;
}

.section-delivery_title {
  margin-bottom: 80px;
}

.section-delivery .features_item:not(:last-child) .features_title:after {
  content: "";
  display: inline-block;
  width: 160px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("/img/arrow.svg");
  background-repeat: no-repeat;
  background-position-y: center;
}

.section-faq .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding-bottom: 160px;
}

.section-faq_title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-faq_questions {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.section-contacts {
  background-color: #961914;
  background-image: url("/img/background-contacts.png");
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-size: cover;
}

.section-contacts .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 180px;
}

.section-contacts_social {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.section-contacts_title {
  margin-bottom: 8px;
}

.section-contacts_text {
  color: white;
}

.section-contacts_social-text {
  margin-bottom: 32px;
}

.section-contacts_phone {
  display: block;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 24px;
}

.section-contacts_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.section-contacts_form-area {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-contacts_form-area-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 4px;
}

.section-contacts_form-area-text {
  margin-bottom: 32px;
}

.section-contacts_form {
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  -ms-grid-columns: 3fr 1fr 2fr;
      grid-template-columns: 3fr 1fr 2fr;
  -ms-grid-rows: 48px 120px 48px;
      grid-template-rows: 48px 120px 48px;
}

.section-contacts_form-email {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.section-contacts_form-textarea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  resize: none;
}

.section-contacts_form-checkbox-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.section-contacts_form-checkbox-label {
  width: 80%;
  font-size: 12px;
  line-height: 140%;
}

.section-contacts_form-button {
  width: 100%;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  color: #ec7973;
  font-weight: 700;
  background-color: #fff4f3;
}

.section-contacts_form-button:hover {
  background-color: #ead1d0;
}

.footer {
  background-color: #69120e;
}

.footer .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer_text {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
}

.footer_link {
  text-decoration: none;
}
